body{
  background-color: #EFF7FF;
  /* width: 100%; */
}
.Header-Section{
  background-color: #EFF7FF;
  /* background-color: aquamarine; */
  /* color: white; */
 /* background-color: white; */
 position: fixed;
 width: 100%;
 top: 0px;
 overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.Nav-Logo{
  display: flex;
  padding-left: 12px;
  /* background-color: red; */

}
.Nav-Logo a{
  text-decoration: none;
  color: black;
}
.Nav-Logo h3 {
  /* color: blue; */
  /* padding-left: 12px; */
  font-weight: bolder;
}
.Nav-Items{
  padding-top: 25px;
  /* background-color: yellowgreen; */
 
}
.Nav-Items nav a {
  padding: 20px;
  color: black;
  font-weight: light;
  text-decoration: none;
  
}
.Nav-Items nav{
  float: right;
 
}
/* .contact-btn{
  background-color: blue;
  color: white;
  height: 35px;
  border-radius: 7px;
 padding-right: 12px;
} */
.Overall-Main-Section-Container{
  margin-top: 100px;
}
.Main-Section-Container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin: 0 auto;
  width: 80%;
}
.Main-Content-writeup{
  /* background-color: yellow; */
  padding-top: 50px;
}
.h1-block h1{
  font-size: 40px;
}
.Learn-More-Container{
  align-items: center;
  justify-content: center;
}
.Learn-More-Btn-Container{
 align-content: center;
}
.Learn-More-Btn{
  background-color: blue;
  color: white;
  padding: 12px;
  border: none;
  border-radius:8px;
  text-align: center;

}
.Overall-Container-Products{
  background-color: white;
}
.Container-Products{
  padding-top: 30px;
  margin: 0 auto;
  width: 80%;
}
.Container-Products h2{
  text-align: center;
  font-size: 32px;
}
.Product-Card-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 20px;
}
.Card-Products{
  background-color: #f8f8f9;
  padding: 25px;
  border-radius: 5px;
  
 
}
.Card-Products:hover{
   /* background-color: #EFF7FF; */
  background-color: #f8f8f9;
 /* color: white; */
 box-shadow: 0 0 9px 3px rgba(59, 59, 59, 0.2);
}
.Learn-More-Btn-Container{
  padding-top: 12px;
}
.Overall-Solutions-Container{
  margin: 0 auto;
  width: 90%;
}
.Solutions-Container h3{
  text-align: center;
  font-size: 32px;
}
.Solutions-Card-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 90%;
  grid-gap: 20px;
  padding-bottom: 30px;
}
.Solution-Card{
  box-shadow: 0 0 9px 3px rgba(132, 131, 131, 0.2);
  background-color: white;
  padding: 15px;
}
.Overall-Container-Testimonials{
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* background-color: white; */
  background-color: lightblue;
  padding: 25px;
  margin-bottom: 40px;
}
.Testimonial-Card-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.Testimonial-Card{
  background-color: white;
  /* background-color: #EFF7FF; */
  padding: 20px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
}
.Testimonial-name-image-container{
  display: flex;
  border-top: 1px solid #dddd;
  margin: 0 auto;
}
.Testimo-name{
  padding-top: 25px;
  padding-left: 25px;
  font-weight: bold;
  /* color: blue; */
}
.Testimonial-image{
  border-radius: 50%;
  border: 1px solid #ddd;
  margin-top: 20px;
}
.Testimony-Remark{
  line-height: 30px;
}
.Overall-Footer-Container{
  background-color: black;
  /* height: 400px; */
  color: white;
}
.Footer-Container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 80%;
  grid-gap: 40px;
  padding-top: 100px;
}
.Footer-Container li {
  padding: 12px;
  list-style-type: none;
  font-weight: lighter;
}
.Footer-Container li:hover{
  font-weight: bolder;
}

/* About us page  css begins here*/
.About-Container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 100px;
  margin: 0 auto;
  width: 80%;
}
.About-Writeup-Container p{
  /* background-color: white; */
  line-height: 22px;
  text-align: justify;
}
.About-display-img{
  width: 600px;
  height: 350px;

}
.Team-Card-Container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
  grid-gap: 30px;
  align-items: center;
}
.Team-Card{
  background-color: white;
  padding: 20px;
  justify-content: center;
  box-shadow: 0 0 9px 3px rgba(132, 131, 131, 0.2);
  

}
.Team-header h2{
  text-align: center;
  font-size: 32px;
}

.Team-img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
  align-self: center;
}
.Team-Member-Name{
  font-size: 20px;
  padding: 10px;
}
.Team-Member-Role{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* phone view code css 
starts here.........*/

@media screen and (max-width: 550px){

  /* .Header-Section{
  display: grid;
  grid-template-columns: repeat(1,1fr)

  } */
  .Nav-Items{
    display: none;
    /* padding-top: 25px; */
    /* background-color: yellowgreen; */
   
  }
  .Home-display-pic{
    padding: 24px;
    width: auto;
    height: 200px;
  }

  .Overall-Main-Section-Container{
    margin-top: 100px;
  }
  .Main-Section-Container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
    width: 90%;
  }
  .Main-Content-writeup{
    /* background-color: yellow; */
    padding-top: 50px;
  }
  .h1-block h1{
    font-size: 20px;
  }
  .Product-Card-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    width: 90%;
    padding-bottom: 20px;
  }
  .Solutions-Card-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    width: 90%;
    grid-gap: 20px;
    padding-bottom: 30px;
  }
  .Solution-Card h2{
    font-size: 20px;
  }
  .Testimonial-Card-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .Testimonial-Container h2{
    font-size: 22px;
  }
  .Footer-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .Footer-Container li {
    padding: 7px;
    list-style-type: none;
    font-weight: lighter;
  }




  /* about us phone view css */
  .About-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 90px;
    margin: 0 auto;
    width: 90%;
  }
  .About-display-img{
    width: 300px;
    height: 350px;
    align-self: center;
  
  }
  .Team-Card-Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    grid-gap: 20px;
    align-items: center;
  }
}
  
